In [1]:
# 1.Make pa panda dataframe with 2D list.

import pandas as pd

# Create a 2D list
data = [
    [1, 'Alice', 23],
    [2, 'Bob', 30],
    [3, 'Charlie', 25]
]

# Create a pandas DataFrame using the 2D list
df = pd.DataFrame(data, columns=['ID', 'Name', 'Age'])

# Display the DataFrame
print(df)

   ID     Name  Age
0   1    Alice   23
1   2      Bob   30
2   3  Charlie   25

In [2]:
# 2.Create dataframe from dic of n array or list
import pandas as pd

data = [[2, 2, 0], [5, 3, 1], [9, 4, 0]]
df = pd.DataFrame(data, columns=['A', 'B','C'])
print(df)

   A  B  C
0  2  2  0
1  5  3  1
2  9  4  0

In [3]:
# 3.Create pandas dataframe using list of lists.

import pandas as pd

# Create a dictionary of lists
data = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [23, 30, 25]
}

# Create a pandas DataFrame using the dictionary of lists
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

   ID     Name  Age
0   1    Alice   23
1   2      Bob   30
2   3  Charlie   25

In [14]:
# 4. Create a pandas dataframe using list of tuples

import pandas as pd

# List of lists
data = [
    [101, "Alice", 28],
    [102, "Bob", 34],
    [103, "Charlie", 23]
]

# Column names
columns = ["ID", "Name", "Age"]
r = ["A", "B", "C"]

# Create DataFrame
df = pd.DataFrame(data, columns=columns, index=r)

# Display the DataFrame
print(df)

    ID     Name  Age
A  101    Alice   28
B  102      Bob   34
C  103  Charlie   23

In [5]:
# 5. Create a pandas dataframe using list of dics

import pandas as pd

# Create a list of tuples
data = [
    (1, 'Alice', 23),
    (2, 'Bob', 30),
    (3, 'Charlie', 25)
]

# Create a pandas DataFrame using the list of tuples
df = pd.DataFrame(data, columns=['ID', 'Name', 'Age'])

# Display the DataFrame
print(df)

   ID     Name  Age
0   1    Alice   23
1   2      Bob   30
2   3  Charlie   25

In [14]:
# 6.Convert list of nested dictionary into pandas dataframe
import pandas as pd

data = [
    {'ID': 1, 'Name': 'Alice', 'Age': 23},
    {'ID': 2, 'Name': 'Bob', 'Age': 30},
    {'ID': 3, 'Name': 'Charlie', 'Age': 25}
]

df = pd.DataFrame(data)

print(df)

   ID     Name  Age
0   1    Alice   23
1   2      Bob   30
2   3  Charlie   25

In [15]:
# 7.Replace values in pandas dataframe using regex(regular expression).

import pandas as pd

data = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [23, 30, 25]
}
df = pd.DataFrame(data)

df['Name'] = df['Name'].replace({'A.': 'Ann', 'B.': 'Ben'}, regex=True)

print(df)

   ID     Name  Age
0   1   Annice   23
1   2     Benb   30
2   3  Charlie   25